###############################################################################
# Configuration file for JobMan
# Please edit the values below, to match your computer's settings
###############################################################################

# Your name, to be used in logs, reports and error messages
Name        <name>

# The computers name/number, to be used in logs, reports and error messages
Computer    <computer name>

# Max number of parallel processes. Should be <= the number of CPU cores available.
max_threads 4

# Number of seconds between check for vacant process
hammertime  6

# The location of the Python interpreter
python      C:\Python27\python.exe

# An empty dir, with read and write access
Myworkdir   C:\Martin\JobMan_work_xxx\workers

# The directory that contains the JobMan job-queue structure
jmjqmdir    F:\PGV\Projektarbejdsmapper\P4\Software\JobMan\jobman_master_xxx


