###############################################################################
# Configuration file for JobMan
# Please edit the values below, to match your computer's settings
###############################################################################

# Your name, to be used in logs, reports and error messages
Name        Dave

# The computers name/number, to be used in logs, reports and error messages
Computer    GE400

# Max number of parallel processes. Should be <= the number of CPU cores available.
#   Default: a number close to the number of CPUs your computer have
max_threads 64

# Number of seconds between check for vacant process
#   Default: ca. (average job run-time) / (max_threads)
hammertime  6

# Pilot say Go
# During runtime, set this to False to stop JobMan in a smooth way
#   default = True
pilotsaygo  True

# The location of the Python interpreter
python      python

# An empty dir, with read and write access
Myworkdir   /home/<user>/jobman/task_at_hand/workers

# The directory that contains the JobMan job-queue structure
jmjqmdir    /var/opt/jobman/task_at_hand/master



