###############################################################################
# Configuration file for JobMan
# Please edit the values below, to match your computer's settings
###############################################################################

# Your name, to be used in logs, reports and error messages
Name        Bobbi Johnson

# The computers name/number, to be used in logs, reports and error messages
Computer    GE400

# Max number of parallel processes. Should be <= the number of CPU cores available.
max_threads 4

# Number of seconds between check for vacant process
hammertime  2

# The location of the Python interpreter
python      C:\Python27\python.exe

# An empty dir, with read and write access
Myworkdir   C:\Martin\Work_github\jobman\jobman_myhome

# The directory that contains the JobMan job-queue structure
jmjqmdir    C:\Martin\Work_github\jobman\jobman_master


